---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args:
          - --allow-multiple-documents
        exclude: >
          (?x)^(
              .*/output/.*|
              model_outputs/.*|
              reports/.*|
              models.yaml|
              datasets/automations/.*
          )$
      - id: check-added-large-files
        exclude: >
          (?x)^(
              datasets/.*\.jsonl
          )$
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.9.9
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: script/run-mypy.sh
        language: script
        types: [python]
        require_serial: true
        files: ^home_assistant_datasets/
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass
        exclude: >
          (?x)^(
              .*/output/.*|
              model_outputs/.*|
              reports/.*|
              datasets/device-actions-v2-collect/train/.*|
              generation/device-actions.ipynb|
              datasets/homes.yaml|
              .*/snapshots/.*|
              .*/_fixtures.yaml|
              .*/__snapshots__/.*
          )$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
        exclude: >
          (?x)^(
              model_outputs/.*
              model_eval/.*/output/.*
          )$
        args:
          - -c
          - ".yaml-lint.yaml"
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        exclude: >
          (?x)^(
              .*/output/.*|
              model_outputs/.*|
              reports/.*
          )$
  - repo: https://github.com/asottile/setup-cfg-fmt
    rev: v2.7.0
    hooks:
      - id: setup-cfg-fmt
