---
name: Lint

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:
    branches:
      - main

env:
  PYTHON_VERSION: 3.13

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - uses: chartboost/ruff-action@v1.0.0
      - uses: codespell-project/actions-codespell@v2.1
        with:
          check_hidden: false
          skip: ./datasets/*,./reports/*,*.ipynb
          ignore_words_list: hass

      - name: Run yamllint
        uses: ibiqlik/action-yamllint@v3
        with:
          file_or_dir: "./"
          config_file: "./.yaml-lint.yaml"
          strict: true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: "pip"
          cache-dependency-path: "**/requirements_dev.txt"

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          enable-cache: true
          cache-dependency-glob: "requirements_dev.txt"
          activate-environment: true

      - name: Install dependencies
        run: |
          uv pip install -r requirements_dev.txt

      - name: Static typing with mypy
        run: |
          mypy --install-types --non-interactive --no-warn-unused-ignores home_assistant_datasets
